<div class="offer">
    <div class="parallax-window">
        <div class="parallax-background"></div>
    </div>

    <section>
        <h1>Oferta dla naszych klientów</h1>

        <p>Specjalnie dla Państwa przygotowaliśmy wyjątkową ofertę.</p>

        <ul class="offer-list">
            <li>
                <div class="offer-image warta"></div>
                <div class="offer-content">Opis oferty</div>
            </li>
            <li>
                <div class="offer-image nordea"></div>
                <div class="offer-content">Opis oferty</div>
            </li>
            <li>
                <div class="offer-image warta"></div>
                <div class="offer-content">Opis oferty</div>
            </li>
            <li>
                <div class="offer-image ksiegowosc"></div>
                <div class="offer-content">Opis oferty</div>
            </li>
        </ul>
    </section>
</div>