<div class="team">
    <div class="parallax-window">
        <div class="parallax-background"></div>
    </div>

    <section>
        <h1>Poznaj nasz zespół</h1>

        <p>Nasi pracownicy to doświadczeni specjaliści w swojej dziedzinie. Dzięki ich wiedzy i umiejętnościom nasza oferta jest najwyższej jakości. Poniżej przedstawiamy wsyzstkich członków szego zespołu!</p>

        <div class="team-members">
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="member">
                <img src="http://goo.gl/WvSTSC"/>

                <div>
                    <h2>Łukasz Kurnik</h2>

                    <h3>Właściciel firmy</h3>
                    <ul>
                        <li>tel: 123 456 789</li>
                        <li>mail: mail.to@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
