<div class="welcome">
    <div class="parallax-window">
        <div class="parallax-static-content"></div>
        <div class="parallax-background"></div>
    </div>

    <article>
        <h1>F.H.U. Lider - pewne ubezpieczenia</h1>

        <h2>Oferujemy również pełną księgowość</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur a, ullam, voluptatum
            incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!
            Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel
            inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.</p>
    </article>
</div>