$navigation-height: 60px;
$default-margin: 20px;

$mobile: new-breakpoint(max-width 480px 3);
$tablet: new-breakpoint(min-width 481px max-width 1023px 6);
$desktop: new-breakpoint(1024px);

body {
  margin: 0;
  padding: $navigation-height 0 0;
}

section {
  @include outer-container;
}