.navigation {
  $navigation-background: lighten(blue, 15%);
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-active-link-color: transparentize(white, 0.5);

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  height: $navigation-height;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);

  @include media($mobile) {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  // Nav menu

  nav {
    @include outer-container;
    height: $navigation-height;

    // The nav items

    ul {
      .nav-link {
        background: $navigation-background;
        padding-right: 0.8em;
        display: inline;
        line-height: $navigation-height;

        &.lider {
          @include media($mobile) {
            display: none;
          }
        }

        &.active-nav-item a {
          border-bottom: 1px solid $navigation-active-link-color;
          padding-bottom: 3px;
        }

        a {
          color: $navigation-color;
          display: inline-block;
          font-weight: 400;
          padding-right: 1em;

          &:focus,
          &:hover {
            color: $navigation-color-hover;
          }
        }
      }
    }
  }
}
