@mixin parallax($parallax-window-height: 30em, $img: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png") {
  $parallax-background-height: $parallax-window-height * 2;

  .parallax-window {
    height: $parallax-window-height;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: $default-margin;

    .parallax-background {
      background-size: cover;
      background: #ffffff url($img) no-repeat center;
      height: $parallax-background-height;
      left: 0;
      position: absolute;
      top: - $parallax-window-height / 3;
      width: 100%;
    }
  }
}